*.class
*.log

out/
*.jar

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

.project
.classpath
.ensime
.ensime_cache
/bin/

.cache-main
.settings/


.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/dictionaries
.idea/**/shelf
.metals/
.bloop/_site
.sass-cache
.jekyll-metadata
.bloop/
docs/_site
public/
image-*