<ol id="dropdown1" class="dropdown-content">
  {{ range where $.Site.RegularPages.ByDate "Section" "notes" }}
  <li> <a href={{ .Permalink }}>{{ .Title }}</a> ({{ dateFormat "2/1/2006" .Date }}). </li>
  {{ end }}
</ol>
<nav>
  <div class="nav-wrapper">
    <span class="brand-logo">
      &nbsp; {{ .Site.Params.code }}
      <a href="http://math.iisc.ac.in/~gadgil">(Siddhartha Gadgil)</a></span>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="{{ .Site.BaseURL }}index.html">Home</a></li>
      <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Notes<i
            class="material-icons right">arrow_drop_down</i></a></li>
      <li><a href="{{ .Site.BaseURL }}notes/">All Notes</a></li>
      <li><a href="{{ .Site.BaseURL }}binaries/">Binaries</a></li>
      <li><a href="{{ .Site.BaseURL }}notebooks/">Notebooks</a></li>
      <li><a href="{{ .Site.BaseURL }}scaladocs/" target="_blank">API</a></li>
      <li><a href="{{ .Site.BaseURL }}resources/">Resources</a></li>
      <li> <a href="https://github.com/siddhartha-gadgil/Superficial"  id="octocat" target="_blank">
        <img class="responsive-img" src="{{ .Site.BaseURL }}GitHub-Mark-Light-32px.png" alt="Github"></img> </a> </li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a href="{{ .Site.BaseURL }}index.html">Home</a></li>
  <li><a href="{{ .Site.BaseURL }}notes/">Notes</a></li>
  <li><a href="{{ .Site.BaseURL }}notes/">All Notes</a></li>
  <li><a href="{{ .Site.BaseURL }}binaries/">Binaries</a></li>
  <li><a href="{{ .Site.BaseURL }}notebooks/">Notebooks</a></li>
  <li><a href="{{ .Site.BaseURL }}scaladocs/">API</a></li>
  <li><a href="{{ .Site.BaseURL }}resources/">Resources</a></li>
</ul>